$main_color: #faac64;
$main_color-light: #F1E9E0; /* メインカラーより薄め(枠内背景色) */
$sub_color: #e6efbf;
$accent-color: #4ac3be;
$sub-accent-color: #a3dec9;
$white: #fff;
$black: #000;
$darkgray: #707070; /* 主に枠線 */
$lightgray: #F1F3F5; /* 主に枠内枠内背景 */
$skin: #FFF6E7; /* 他ユーザーの背景色 */
$pink: #FF00BC; /* 総合得点(強調) */
$star: #25e450; /* 評点のスター色 */ 
$favorite: #faac64; /* お気に入り登録ボタン色 */
$delete-color: #707070;
$red: red; /* 主にネタバレ警告色 */


/* 主にbody,header,footer全般  */
body {
  background-color: $white;
  color: $black;
  padding-top: 60px;  /* navをfixed-topにする場合必要 */
  line-height: 1.2rem;
}
p{
  margin-bottom: 0.8rem;
}

h1{
  a{
    color: inherit;
  }
}
.bg-orange{
  background-color: $main_color;
  color: $black;
  font-weight: bold;
  li,a{
    color: $black !important;
  }
}

.login-out{
  padding:0.05rem 0.5rem;
  border-radius:2rem;
  background-color: $white;
  color: $black;
  border:solid 1.5px #44558f;
  font-weight: bold;
  @media(max-width: 992px) {
    font-size: 90%; /* ボタン内の文字折返しを回避 */
  }
  &:hover,:focus,:active,:disabled{
    background-color: $white;
    color: $black;
    text-decoration: none;
  }
}

header{
  p{
    display: inline-block;
    margin:3px 0.25rem 3px 0;
  }
  .header-search-group{
    display:flex;
  }
  .header-search-select{
    /* bootstrapのform-controlとほぼ同じ*/
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  .header-search-input{
    width: 100%;
  }
}

.titlerogo{
  width: 234px;
  height: auto;
}

.bg-maincolor{
  background-color: $main-color;
}

.bg-otherscolor{
  background-color: $skin;
}

.footer-bottom{
  background-color: $black;
  color: $white;
}


/* 下記はfront全般のcss */
.content-frame{
  border: solid 1px $darkgray;
  background-color: $lightgray;
  padding: 0;
  .content-title{
    background-color: $main_color;
    color: $white;
    margin-bottom: 0.4rem;
    text-align: center;
    padding: 0.2rem 1rem;
    border-bottom: solid 1px $darkgray;
  }
  .main-content{
    padding: 8px 4px 8px 4px;
  }
  p{
    margin-bottom: 0.3rem;
  }
}


/* 下記はsearch.indexのcss */
.original-form-control{
  /* bootstrapのform-controlから「display:block,width:100%」を除外したcss  */
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: middle; /* 追加 */
}

.janre-check{
  margin-right: 0.5rem;
}

.form-group{
  label,p{
    padding-right: 0 !important;
  }
  select,input{
    padding-left: 0 !important;
  }
}

.btn-accent-color{
  border: solid 1.2px $darkgray;
  background-color: $accent-color;
  color: $white;
  &:hover,:focus,:active,:disabled{
    background-color: $accent-color;
    color: $white;
  }
  a{
    color: $white;
    &:hover,:focus,:active,:disabled{
      background-color: $accent-color;
      color: $white;
    }
  }
}


/* ペジネーションのデザイン */
.page-link{
  color: $accent-color;
}

.page-item.active{
  .page-link{
    background-color: $accent-color;
    color: $white;
    border: 1px solid $accent-color;
  }  
}

.not-pc{
  /* pc画面では非表示 */
  @media(min-width: 576px){
    display: none !important;
  }
}

.pagination{
  justify-content: center;
  margin-bottom: 0.5rem;
}


/* headerからほぼそのままコピー */
.order-group{
  display:flex;
}
.order-select{
  /* bootstrapのform-controlとほぼ同じ*/
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}


/* dramaindexのcss*/
.dramaindex-frame{
  border: solid 2px $black;
  background-color: $main-color-light;
  h2{
    a{
      text-decoration: underline solid;
    }
  }
}

.eyecatch{
  /*
  width: 190px;
  height: 260px;
  */
  width: 100%;
  overflow: hidden;
  img{
    width: 100%;
    height: auto;
  }
}

.large-text{
  /* h3と同じフォントサイズ */
  font-size: 1.575rem;
  display:inline;
}

.total-evaluation{
  color: $pink;
}

.btn-register{
  /* bootstrap「btn」から引用。登録関連のボタン*/
  display: inline-block;
  font-weight: 500;
  color: $white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.6;
  border-radius: 3rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.icon-total-evaluation{
  height: 26px;
  width: auto;
}
.bg-evaluation{
  background-color: $lightgray;
}

blockquote{
  margin: 0 0 0 0.3rem;
  padding: 0 0 0 0.1rem;
}
.index-quote{
  margin: 0 0 0 15px;
  padding: 0 0 0 0.1rem;
}

.btn-favorite-color{
  border: solid 1.2px $darkgray;
  background-color: $favorite;
  color: $white;
  &:hover,:focus,:active,:disabled{
    background-color: $favorite;
    color: $white;
  }
  a{
    color: $white;
    &:hover,:focus,:active,:disabled{
      background-color: $favorite;
      color: $white;
    }
  }
}

.btn-delete-color{
  border: solid 1.2px $darkgray;
  background-color: $delete-color;
  color: $white;
  &:hover,:focus,:active,:disabled{
    background-color: $delete-color;
    color: $white;
  }
  a{
    color: $white;
    &:hover,:focus,:active,:disabled{
      background-color: $delete-color;
      color: $white;
    }
  }
}


/* dramaID.indexのcss*/
.icon-evaluation{
  height: 1rem;
  width: auto;
}

.list-horizontal{
  margin-bottom: 0.5rem;
}
.list-horizontal-item{
  display: inline-block;
  margin: 0.25rem 1rem 0.25rem 1rem;
}

.summary{
  dt{
    float: left;
    width: 80px;
    dd{
      margin: 0 0.25rem 0 1rem;
    }
  }
  .story{
    width: 100%;
  }
}



/* どこかで使うが保留 */
.submit-btn{
  padding: 0.5rem 1.2rem;
  margin: 0.6rem 0.8rem;
  border: solid 1.2px $darkgray;
  border-radius: 3rem;
  background-color: $accent-color;
  color: $white;
  font-size: 1.575rem;
  &:hover,:focus,:active,:disabled{
    background-color: $accent-color;
    color: $white;
  }
}

.review-profile{
  width: 70px;
  height: 70px;
  overflow: hidden;
  border: solid 2px $black;
  background-color: $white;
  float: left;
  margin-right: 10px;
  img{
    width: 100%;
    height: auto;
  }
}

.review-title-h3{
  display: inline-block;
}

/* ネタバレ警告 */
.spoiler_alert{
    font: bold;
    color: $red;
}

.review-evaluation-display{
  span{
    margin-right: 0.5rem;
    display: inline-block;
    width: 80px;
  }
}

.parent{
 position: relative; 
}
.child{
  position: absolute;
  right: 1.5rem;
  bottom: 0.5rem;
}

.review-comment-display{
  border:solid 2px $black;
  background-color: $white;
  min-height: 100px;
  .spoiler{
    font-size: 1.575rem;
    padding-top: 1rem;
  }
}

.icon-like{
  height: 1rem;
  width: auto;
  vertical-align: middle;
}

/* review.createのcss  */
.parent-checkbox{
  display: flex;
  align-items: center;
  label{
    margin-bottom: 0;
  }
}

.review-title-create{
  width: 100%;
  border: solid 2px $black;
}


/* mypage.dramaindexのscss */
.icon-favorite{
  height: 1.2rem;
  width: auto;
  vertical-align: middle;
}

.small-drama{
  @media (max-width: 768px){
    width: 100%;
    height: auto;
  }
  @media (min-width: 768px){
    width: 81px;
    height: 114px;
  }
  @media (min-width: 1200px){
    width: 96.5px;
    height: 136.25px;
  }
  overflow: hidden;
  margin-left: 1px;
  img{
    width: 100%;
    height: auto;
  }
}

.btn-small{
  padding: 1px 6px !important;
  font-size: inherit !important;
}


/* mypage.likeindexのcss  */
.vertical-text{
  writing-mode: vertical-rl;
  background-color: $lightgray;
}

.solid-border{
  border: solid 1px $black;
}

/* mypage.drama.favoriteのcss  */
.large{
  font-size: 1.575rem;
}

.icon-large-favorite{
  width: 80%;
  height: auto;
}

.middle-drama{
  @media (max-width: 576px){
    height: 160px;
  }
  @media (min-width: 576px){
    height: 240px;
  }
  @media (min-width: 768px){
    height: 160px;
  }
  @media (min-width: 992px){
    height: 160px;
  }
  @media (min-width: 1200px){
    height: 160px;
  }
  width: 100%;
  overflow: hidden;
  margin-left: 1px;
  margin-bottom: 0px !important;
  img{
    width: auto;
    height: 100%;
  }
}

/* aboutのscss  */
.alert{
 font-size: 3rem;
 color: red;
 line-height: 4rem;
}

ol{
  list-style-type: upper-roman;
  list-style-position: inside;
}

li{
  padding: 3px 2px 2px 4px;
}


.about-ul{
  list-style-type: decimal;
  list-style-position: inside;
}