/* sidebar関連 */
/* サイドバーのプロフィール画像を横幅100%の正方形で表示 */
.rect-wrap{
  position: relative;
  &:before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%
  }
  .rect{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 2px #000;
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
    }
  }
}

.sidebar-menu{
  border: solid 1px $darkgray;
  background-color: $lightgray;
  padding: 8px 2px 8px 4px;
  p{
    margin-bottom: 0.3rem;
  }
  li{
    list-style-type: disc;
    list-style-position: inside;
  }
}

