$main_color: #ffad50;
$sub_color: #e6f7f7;


body {
  background-color: #fff; /* 白色 */
  color: #000000;
  padding-top: 60px;  /* navをfixed-topにする場合必要 */
  line-height: 1.2rem;
}
p{
  margin-bottom: 0.8rem;
}

nav{
  /* 適用されないので保留(htmlベタ打ち)*/
  .bg-orange{
    background-color: $main_color !important;
    color: #fff !important;
  }
}

.login-out{
  padding:0.05rem 0.5rem;
  border-radius:2rem;
  background-color: #fff;
  color: #000;
  border:solid 1.5px #44558f;
  font-weight: bold;
}

header{
  p{
    display: inline-block;
    margin:3px 0.25rem 3px 0;
  }
  .header-search-group{
    display:flex;
  }
  .header-search-select{
    /* bootstrapのform-control-smとほぼ同じ*/
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.7875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  .header-search-input{
    width: 100%;
  }
}

.titlerogo{
  width: 234px;
  height: auto;
}

.bg-maincolor{
  background-color: $main-color;
}

.footer-bottom{
  background-color: #000;
  color: #fff;
}


/* sidebar関連 */

/* サイドバーのプロフィール画像を横幅100%の正方形で表示 */
.rect-wrap{
  position: relative;
  &:before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%
  }
  .rect{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 2px #000;
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
    }
  }
}

.sidebar-menu{
  border: solid 1px #707070; /* 灰色 */
  background-color: #F1F3F5; /* 薄い灰色 */
  padding: 8px 2px 8px 4px;
  p{
    margin-bottom: 0.3rem;
  }
}