$main_color: #ffad50;
$sub_color: #e6f7f7;


body {
  background-color: #fff; /* 白色 */
  color: #000000;
  padding-top: 60px;  /* navをfixed-topにする場合必要 */
}

nav{
  /* 適用されないので保留(htmlベタ打ち)*/
  .bg-orange{
    background-color: $main_color !important;
    color: #fff !important;
  }
}

.login-out{
  padding:0.05rem 0.5rem;
  border-radius:2rem;
  background-color: #fff;
  color: #000;
  border:solid 1.5px #44558f;
  font-weight: bold;
}

header{
  p{
    display: inline-block;
    margin:3px 0.25rem 3px 0;
  }
  .header-search-group{
    display:flex;
  }
  .header-search-select{
    /* bootstrapのform-control-smとほぼ同じ*/
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.7875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  .header-search-input{
    width: 100%;
  }
}

.titlerogo{
  width: 234px;
  height: auto;
}

.bg-maincolor{
  background-color: $main-color;
}

.footer-bottom{
  background-color: #000;
  color: #fff;
}


/* sidebar関連 */


